<div>
  <div>
    <h1>
      Item #<%= @the_item.id %> details
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Item number
      </dt>
      <dd>
        <%= @the_item.item_number %>
      </dd>

      <dt>
        Item description
      </dt>
      <dd>
        <%= @the_item.item_description %>
      </dd>

      <dt>
        Cost ($)
      </dt>
      <dd>
        <%= @the_item.costing.cost_value %>
      </dd>



      <dt>
        Classification
      </dt>
      <dd>
        <%= @the_item.classification.family_description %>
      </dd>


    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="item_number_box">
          Item number
        </label>

        <input type="text" id="item_number_box" name="query_item_number" value="<%= @the_item.item_number %>">
      </div>

      <div>
        <label for="item_description_box">
          Item description
        </label>

        <input type="text" id="item_description_box" name="query_item_description" value="<%= @the_item.item_description %>">
      </div>

      <div>
        <label for="cost_value_box">
          Cost ($)
        </label>

        <input type="float" id="cost_value_box" name="query_cost_value" value="<%= @the_item.costing.cost_value %>">
      </div>

      <div>
        <label for="classification_id_box">Classification</label>         
        <select id="classification_id_box" name="query_classification_id">
          <% Classification.all.each do |classi| %>
            <option value="<%= classi.id %>">
              <%= classi.family_description %>
            </option>
          <% end %>
        </select>
      </div>

     <div>

      <%# <form action="/items"> %>
        <label for="store_id_box">Store</label> 
        
        <select id="store_id_box" name="query_store_id">
          <% Store.all.each do |store| %>
            <option value="<%= store.id %>">
              <%= store.store_name %>
            </option>
          <% end %>
        </select>
        <%# <input type="submit" value="Confirm"> %>
      <%# </form> %>

      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>
